.container {
    /* background-color:bisque; */
    text-align: center;
}

.vehicleDisplay {
    border-style: inset;
    margin: 10px 0px;
    border-width: 5px;
    border-radius: 20px;
    padding:10px 0px;
    background-color: rgb(201, 226, 231);
}

.newVehicleInput {
    border-style: inset;
    border-width: 5px;
    border-radius: 25px;
    padding:10px;
    background-color: rgb(201, 226, 231);
}

.editBTN {
    margin: 15px;
}