.nav {
  /* flex box layout */
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  text-align: center;
  
  margin: 0 0 0px;
  background-color: #48715e;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 50px;
  font-weight: 700;
  color: #f2f2f2;
  padding: 15px 0px 0px;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

#navLink {
  display: inline-block;
  /* color: #f2f2f2; */
  /* background-color: #00acb0; */
  justify-content:right;
  padding: 0px 10px 10px 10px ;
  text-decoration: none;
  /* font-size: 20px; */
  

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #008183;
}

.navMain {
  padding: 00px 0px 10px;
  text-align: center;
}